# Engenharia de atributos
Nesta etapa será realizada a limpeza dos dados gerados pelo cálculo do TF-IDF, bem como balanceamento de classes e redução de dimensionalidade do dataset. Ao final, é gerada a matriz de treinamento do modelo de machine learning.

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Carga do arquivo completo de TF-IDF
# Não efetuada por causa do problema de estouro de memória da máquina local
#df1 = pd.read_json('./data_files/data_tf_idf_completo.json', orient='column')

In [3]:
df2 = pd.read_json('./data_files/data_tf_idf.json', orient='column')

In [4]:
df2.shape

(57156, 3321)

In [5]:
df2.head()

,0,1,2,3,4,5,6,7,8,9,...,3311,3312,3313,3314,3315,3316,3317,3318,3319,3320
200,0.000760,0.000752,0.000752,NaN,0.000684,0.000684,0.000684,0.000449,0.000479,NaN,...,NaN,NaN,0.000783,0.000449,0.000594,0.000522,0.000807,NaN,NaN,NaN
assay,0.000074,0.000073,0.000073,0.000076,0.000066,0.000066,0.000066,0.000044,0.000046,0.000094,...,0.000068,0.000085,0.000076,0.000044,0.000058,0.000051,NaN,NaN,0.000096,0.000056
role,0.000131,0.000130,0.000130,0.000134,0.000118,0.000118,0.000118,0.000077,0.000082,0.000166,...,0.000121,0.000150,0.000135,0.000077,0.000102,0.000090,0.000139,0.000183,0.000171,0.000100
reveal,0.000700,NaN,NaN,0.000719,NaN,NaN,NaN,0.000413,NaN,NaN,...,NaN,0.000802,NaN,NaN,NaN,NaN,NaN,NaN,0.000913,0.000535
novagen,0.002749,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df = df2.T
del df2

In [7]:
df.shape

(3321, 57156)

In [8]:
df.head()

,200,assay,role,reveal,novagen,untagged,predicted,migration,especially,1i,...,gly42arg,hypocenter,a-bomb,q21q22,bcml,q22q22,aml-1,hdac-1,runx1–runx1t1,aml-1/eto
0,0.000760,0.000074,0.000131,0.000700,0.002749,0.003357,0.000301,0.001245,0.000701,0.003401,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.000752,0.000073,0.000130,NaN,NaN,NaN,NaN,0.001232,0.000694,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.000752,0.000073,0.000130,NaN,NaN,NaN,NaN,0.001232,0.000694,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,0.000076,0.000134,0.000719,NaN,NaN,0.000309,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.000684,0.000066,0.000118,NaN,NaN,NaN,0.000271,NaN,0.000631,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Tratamento de NA's e normalização

In [9]:
df['predicted'].notna()

0        True
1       False
2       False
3        True
4        True
        ...
3316    False
3317    False
3318    False
3319    False
3320     True
Name: predicted, Length: 3321, dtype: bool

In [10]:
# Preenchendo os NA's com o valor zero, dado que correspondem a palavras que não foram encontradas nos docs.
df.fillna(0, inplace=True)

In [11]:
df.head()

,200,assay,role,reveal,novagen,untagged,predicted,migration,especially,1i,...,gly42arg,hypocenter,a-bomb,q21q22,bcml,q22q22,aml-1,hdac-1,runx1–runx1t1,aml-1/eto
0,0.000760,0.000074,0.000131,0.000700,0.002749,0.003357,0.000301,0.001245,0.000701,0.003401,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000752,0.000073,0.000130,0.000000,0.000000,0.000000,0.000000,0.001232,0.000694,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000752,0.000073,0.000130,0.000000,0.000000,0.000000,0.000000,0.001232,0.000694,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.000076,0.000134,0.000719,0.000000,0.000000,0.000309,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000684,0.000066,0.000118,0.000000,0.000000,0.000000,0.000271,0.000000,0.000631,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
tf_idf = df.values

In [13]:
type(tf_idf)

numpy.ndarray

In [14]:
tf_idf.shape

(3321, 57156)

In [15]:
tf_idf.max()

1.542756251341385

In [16]:
# Normalização dos dados pelo maior valor de TF_IDF
tf_idf = tf_idf / tf_idf.max()

In [17]:
tf_idf

array([[4.92626978e-04, 4.78492842e-05, 8.48785975e-05, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [4.87394829e-04, 4.73410810e-05, 8.39771091e-05, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [4.87394829e-04, 4.73410810e-05, 8.39771091e-05, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       ...,
       [0.00000000e+00, 0.00000000e+00, 1.18830036e-04, ...,
        0.00000000e+00, 5.25252315e-03, 0.00000000e+00],
       [0.00000000e+00, 6.23740400e-05, 1.10643683e-04, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 3.65817444e-05, 6.48914025e-05, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]])

In [18]:
tf_idf.max()

1.0

In [19]:
del df

## Divisão em dados de treino e teste

In [20]:
import sklearn
from sklearn.model_selection import train_test_split

In [21]:
df = pd.read_json('data_files/merged_datasets.json', orient='split')
df.head()

,Text,Gene,Variation,Class
0,Cyclin-dependent kinases (CDKs) regulate a var...,FAM58A,Truncating Mutations,1
1,Abstract Background Non-small cell lung canc...,CBL,W802*,2
2,Abstract Background Non-small cell lung canc...,CBL,Q249E,2
3,Recent evidence has demonstrated that acquired...,CBL,N454D,3
4,Oncogenic mutations in the monomeric Casitas B...,CBL,L399V,4

In [22]:
# Contagem de observações por classe
df.groupby(by='Class').count()

       Text  Gene  Variation
Class
1       568   568        568
2       452   452        452
3        89    89         89
4       686   686        686
5       242   242        242
6       275   275        275
7       953   953        953
8        19    19         19
9        37    37         37

 Indica necessidade de balanceamento antes de treinamento do modelo. Porém, antes deve-se fazer a divisão em dados de treino e teste.

In [23]:
y = df['Class'].values
y

array([1, 2, 2, ..., 1, 4, 4])

In [24]:
y.shape

(3321,)

In [25]:
X_train, X_test, y_train, y_test = train_test_split(tf_idf, y, test_size=0.3)

In [26]:
# Verificando as dimensões:

dict = {'X_train': X_train.shape, 'X_test': X_test.shape, 'y_train': y_train.shape, 'y_test': y_test.shape}

dict

{'X_train': (2324, 57156),
 'X_test': (997, 57156),
 'y_train': (2324,),
 'y_test': (997,)}

In [27]:
del df

In [1]:
# Salvando os arrays para balanceamento em outro notebook

In [28]:
np.savetxt('data_files/X_train.csv', X_train, delimiter=',')
np.savetxt('data_files/y_train.csv', y_train, delimiter=',')
np.savetxt('data_files/X_test.csv', X_test, delimiter=',')
np.savetxt('data_files/y_test.csv', y_test, delimiter=',')